<h1>Annual Report</h1>

<table>
	<thead>
		<th>Location</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>Total</th>
	</thead>
	
	<% for r in @report %>
		<% row = r[1] %>
		<tr>
			<td><a href="<%=location_report_path row[:location_url], @year, 1%>"><%= row[:location_name] %></a></td>
			<% for mi in (1..12) %>
				<td><%= row[mi.to_s] %></td>
			<% end %>
			<td><%= row[:total] %></td>
		</tr>
	<% end %>
</table>